<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('assets/css/base.css')}}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_main') }}">ACCUEIL</a></li>
            <li><a href="{{ path('app_task_index') }}">TACHES</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_logout') }}">DÉCONNEXION</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">CONNEXION</a></li>
                <li><a href="{{ path('app_user_new') }}">INSCRIPTION</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Liens Utiles</h3>
                <ul class="footer-links">
                    <li><a href="#">SYMFONY</a></li>
                    <li><a href="#">SYMFONY</a></li>
                    <li><a href="#">SYMFONY</a></li>
                    <li><a href="#">SYMFONY</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Ressources</h3>
                <ul class="footer-links">
                    <li><a href="#">SYMFONY</a></li>
                    <li><a href="#">SYMFONY</a></li>
                    <li><a href="#">SYMFONY</a></li>
                    <li><a href="#">SYMFONY</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Nous Contacter</h3>
                <p>Adresse: 123 Rue de la Rue, Ville</p>
                <p>Email: contact@example.com</p>
                <p>Téléphone: +1 (123) 456-7890</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
